{% extends 'adminTemplate.html.twig' %}

{% block body %}

  <!-- Admin Section -->
  <section id="admin">
    <div class="container-fluid">

      <!-- Title -->
      <div class="row">
        <div class="col-md-12 section-title text-center center">
          <h2>Bienvenue sur l'espace d'administration</h2>
          <hr>
          <h3>Accès aux listes</h3>          
        </div>
      </div>

      <!-- Buttons -->
      <div class="row">
        <div class="col-md-12 text-center center">
          <p class="text-center">
            <a class="btn btn-primary" href="/admin/show-invalidated">
              <i class="fa fa-check"></i>Commentaires non validés
            </a> 
            <a class="btn btn-primary" href="/admin/show-reported">
              <i class="fa fa-exclamation-triangle"></i>Commentaires signalés
            </a>
            <a class="btn btn-primary" href="/admin/posts?page=1">Articles</a> 
            <a class="btn btn-primary" href="/admin/comments?page=1"> Commentaires</a>
          </p>
        </div>
      </div>

    </div> <!-- End Container -->
  </section> <!-- End Admin Section -->
    
{% endblock %}