{% extends 'adminInterface.html.twig' %}

{% block body %}

    <!-- Admin Section -->
    <div id="admin">
      <div class="container">
        <!-- Title -->
        <div class="row section-title text-center center">
          <h2>Bienvenue sur l'espace d'administration</h2>
          <hr>
          <h3>Accès aux listes</h3>          
        </div>
        <!-- Buttons -->
        <div class="row text-center center">
          <p class="text-center"><a class="btn btn-primary" href="/admin/posts?page=1">Articles</a> <a class="btn btn-primary" href="/admin/comments?page=1"> Commentaires</a></p>
        </div>
      </div>
    </div>
    
{% endblock %}